<div class="inline-flex h-full flex-col space-y-3 p-5 bg-white rounded-3xl">
  <div class="flex items-center justify-start space-x-1 px-2">
    <div class="w-[110px] pe-3 text-end text-xl font-light text-neutral">Default</div>
    <button class="btn">Button</button>
    <button class="btn btn-dash">Dash</button>
    <button class="btn-active btn">Active</button>
    <button class="btn btn-soft">Soft</button>
    <button class="btn btn-outline">Default</button>
    <button class="btn-active btn btn-outline">Outline Active</button>
  </div>

  <div class="flex items-center justify-start space-x-1 px-2">
    <div class="w-[110px] pe-3 text-end text-xl font-light text-neutral">Neutral</div>
    <button class="btn btn-neutral">Button</button>
    <button class="btn btn-dash btn-neutral">Dash</button>
    <button class="btn btn-soft btn-neutral">Soft</button>
    <button class="btn btn-outline btn-neutral">Outline</button>
    <button class="btn-active btn btn-outline btn-neutral">Outline Active</button>
    <button class="btn-active btn btn-neutral">Active</button>
  </div>

  <div class="flex items-center justify-start space-x-1 px-2">
    <div class="w-[110px] pe-3 text-end text-xl font-light text-neutral">Primary</div>
    <button class="btn btn-primary">Button</button>
    <button class="btn btn-dash btn-primary">Dash</button>
    <button class="btn btn-soft btn-primary">Soft</button>
    <button class="btn btn-outline btn-primary">Outline</button>
    <button class="btn-active btn btn-outline btn-primary">Outline Active</button>
    <button class="btn-active btn btn-primary">Active</button>
  </div>

  <div class="flex items-center justify-start space-x-1 px-2">
    <div class="w-[110px] pe-3 text-end text-xl font-light text-neutral">Secondary</div>
    <button class="btn btn-secondary">Button</button>
    <button class="btn btn-dash btn-secondary">Dash</button>
    <button class="btn btn-soft btn-secondary">Soft</button>
    <button class="btn btn-outline btn-secondary">Outline</button>
    <button class="btn-active btn btn-outline btn-secondary">Outline Active</button>
    <button class="btn-active btn btn-secondary">Active</button>
  </div>

  <div class="flex items-center justify-start space-x-1 px-2">
    <div class="w-[110px] pe-3 text-end text-xl font-light text-neutral">Accent</div>
    <button class="btn btn-accent">Button</button>
    <button class="btn btn-dash btn-accent">Dash</button>
    <button class="btn btn-soft btn-accent">Soft</button>
    <button class="btn btn-outline btn-accent">Outline</button>
    <button class="btn-active btn btn-outline btn-accent">Outline Active</button>
    <button class="btn-active btn btn-accent">Active</button>
  </div>

  <div class="flex items-center justify-start space-x-1 px-2">
    <div class="w-[110px] pe-3 text-end text-xl font-light text-neutral">Info</div>
    <button class="btn btn-info">Button</button>
    <button class="btn btn-dash btn-info">Dash</button>
    <button class="btn btn-soft btn-info">Soft</button>
    <button class="btn btn-outline btn-info">Outline</button>
    <button class="btn-active btn btn-outline btn-info">Outline Active</button>
    <button class="btn-active btn btn-info">Active</button>
  </div>

  <div class="flex items-center justify-start space-x-1 px-2">
    <div class="w-[110px] pe-3 text-end text-xl font-light text-neutral">Success</div>
    <button class="btn btn-success">Button</button>
    <button class="btn btn-dash btn-success">Dash</button>
    <button class="btn btn-soft btn-success">Soft</button>
    <button class="btn btn-outline btn-success">Outline</button>
    <button class="btn-active btn btn-outline btn-success">Outline Active</button>
    <button class="btn-active btn btn-success">Active</button>
  </div>

  <div class="flex items-center justify-start space-x-1 px-2">
    <div class="w-[110px] pe-3 text-end text-xl font-light text-neutral">Warning</div>
    <button class="btn btn-warning">Button</button>
    <button class="btn btn-dash btn-warning">Dash</button>
    <button class="btn btn-soft btn-warning">Soft</button>
    <button class="btn btn-outline btn-warning">Outline</button>
    <button class="btn-active btn btn-outline btn-warning">Outline Active</button>
    <button class="btn-active btn btn-warning">Active</button>
  </div>

  <div class="flex items-center justify-start space-x-1 px-2">
    <div class="w-[110px] pe-3 text-end text-xl font-light text-neutral">Error</div>
    <button class="btn btn-error">Button</button>
    <button class="btn btn-dash btn-error">Dash</button>
    <button class="btn btn-soft btn-error">Soft</button>
    <button class="btn btn-outline btn-error">Outline</button>
    <button class="btn-active btn btn-outline btn-error">Outline Active</button>
    <button class="btn-active btn btn-error">Active</button>
  </div>

  <div class="flex items-center justify-start space-x-1 px-2">
    <div class="w-[110px] pe-3 text-end text-xl font-light text-neutral">Ghost</div>
    <button class="btn btn-ghost">Button</button>
    <button class="btn-active btn btn-ghost">Active</button>
  </div>

  <div class="flex items-center justify-start space-x-1 px-2">
    <div class="w-[110px] pe-3 text-end text-xl font-light text-neutral">Link</div>
    <button class="btn btn-link">Link</button>
    <button class="btn-active btn btn-link">Active</button>
  </div>
</div>
