<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <%= link_to "Money Unicorn", root_path, class: "btn btn-ghost text-xl" %>
    <ul class="menu menu-horizontal px-1">
      <li>
        <details>
          <summary>Youtube</summary>
          <ul class="p-2">
            <li><%= link_to "Shorts", admin_youtube_shorts_path %></li>
            <li><%= link_to "Shorts", admin_youtube_shorts_path %></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
  <div class="navbar-end">
    <%= link_to session_url, method: :delete, class: "btn btn-error px-2!" do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
      </svg>
    <% end %>
  </div>
</div>